
@{
    ViewBag.Title = "Create DrinkSizeDrink";
}

<h2>Create DrinkSizeDrink</h2>

<form action="Add" method="post">

    Drink Name @Html.DropDownList("Id","")

    <ul style="list-style-type:none;">
        @foreach(var drinkSizes in ViewBag.DrinkSizes)
        {
            <li> <input type="checkbox" name="DrinkSizeIds" value="@drinkSizes.Id" /> @drinkSizes.Size </li>
        }
    </ul>

    <input type="submit" value="Assign Drink Size to Drink" />
</form>